* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    background: #e0e0e0;
    background-position: right center;
    background-repeat: no-repeat;
    color: #181818;
    font-family: 'montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #e0e0e0;
}

.profile {
    background-color: #c0c0c099;
    border-radius: 10%;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 3px #4b4b4b;
}

.foto-principal {
    width: 200px;
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 5px #000000;   
}

h1 {
    margin: 5px 0px -15px 0px;
    font-family: 'arima', cursive;
}

h2 {
    margin:0px 0px 10px 0px;
    font-style: italic;
    color: #555555f0;
    font-weight: 600;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 0;
    font-size: 1.17em;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
    list-style: none;
    
}

li {
    margin: 2.5px 0px;
}

.links-icones {
    text-decoration: none;
}

.icones {
    width: 20px;
    margin: 7.5px;
}

.worked-at-list{
    list-style: none;
    padding-left: 20px;
}

.descricao-emprego {
    margin-top: 0;
}

footer {
    width: auto;
    height: 20px;
    margin-top: 40px;
    padding: 5px 0 5px 0;
    background-color: #8f8f8f99;
    color: #181818;
    text-align: center;
}

.dev {
    margin: 0;
}